Can't upload pdf/png files

Hi,

I'm having problems uploading files besides .txt files (or at least pdf/png I haven't tried other types).

Executing the following code enables me to upload .txt files:
```python
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive

gauth = GoogleAuth();
gauth.LoadCredentialsFile('/path/to/credfile/Usr_cred.txt');
gauth.Authorize();
drive = GoogleDrive(garth);

new_path_file = '/path/to/file/';
new_file = 'file.txt';
new_full_path = ''.join((new_path_file,new_file));
file_to_upload = drive.CreateFile({'title': new_file});
file_to_upload.SetContentFile(new_full_path);
file_to_upload.Upload();
```

However trying to upload a pdf or png file using the same code throws an encode error in python http.client
```python
//anaconda/lib/python3.4/http/client.py in _send_request(self, method, url, body, headers)
   1123             # RFC 2616 Section 3.7.1 says that text default has a
   1124             # default charset of iso-8859-1.
-> 1125             body = body.encode('iso-8859-1')
   1126         self.endheaders(body)
   1127 

UnicodeEncodeError: 'latin-1' codec can't encode character '\ufffd' in position 259: ordinal not in range(256)
```
\ufffd is in unicode a replacement character and manually encoding with uft-8 works. Http an utf-8 doesn't work (as far as I know). The full error traceback is:
```python
---------------------------------------------------------------------------
UnicodeEncodeError                        Traceback (most recent call last)
<ipython-input-38-1c5545d22e97> in <module>()
----> 1 file4.Upload()

//anaconda/lib/python3.4/site-packages/pydrive/files.py in Upload(self, param)
    223         self._FilesPatch(param=param)
    224     else:
--> 225       self._FilesInsert(param=param)
    226 
    227   @LoadAuth

//anaconda/lib/python3.4/site-packages/pydrive/auth.py in _decorated(self, *args, **kwargs)
     53     if self.auth.service is None:  # Check if drive api is built.
     54       self.auth.Authorize()
---> 55     return decoratee(self, *args, **kwargs)
     56   return _decorated
     57 

//anaconda/lib/python3.4/site-packages/pydrive/files.py in _FilesInsert(self, param)
    239       if self.dirty['content']:
    240         param['media_body'] = self._BuildMediaBody()
--> 241       metadata = self.auth.service.files().insert(**param).execute()
    242     except errors.HttpError as error:
    243       raise ApiRequestError(error)

//anaconda/lib/python3.4/site-packages/oauth2client/util.py in positional_wrapper(*args, **kwargs)
    138                 else:  # IGNORE
    139                     pass
--> 140             return wrapped(*args, **kwargs)
    141         return positional_wrapper
    142 

//anaconda/lib/python3.4/site-packages/googleapiclient/http.py in execute(self, http, num_retries)
    720 
    721       resp, content = http.request(str(self.uri), method=str(self.method),
--> 722                                    body=self.body, headers=self.headers)
    723       if resp.status < 500:
    724         break

//anaconda/lib/python3.4/site-packages/oauth2client/client.py in new_request(uri, method, body, headers, redirections, connection_type)
    594             resp, content = request_orig(uri, method, body,
    595                                          clean_headers(headers),
--> 596                                          redirections, connection_type)
    597 
    598             # A stored token may expire between the time it is retrieved and

//anaconda/lib/python3.4/site-packages/httplib2/__init__.py in request(self, uri, method, body, headers, redirections, connection_type)
   1312                     content = b""
   1313                 else:
-> 1314                     (response, content) = self._request(conn, authority, uri, request_uri, method, body, headers, redirections, cachekey)
   1315         except Exception as e:
   1316             if self.force_exception_to_status_code:

//anaconda/lib/python3.4/site-packages/httplib2/__init__.py in _request(self, conn, host, absolute_uri, request_uri, method, body, headers, redirections, cachekey)
   1062             auth.request(method, request_uri, headers, body)
   1063 
-> 1064         (response, content) = self._conn_request(conn, request_uri, method, body, headers)
   1065 
   1066         if auth:

//anaconda/lib/python3.4/site-packages/httplib2/__init__.py in _conn_request(self, conn, request_uri, method, body, headers)
    986                 if conn.sock is None:
    987                     conn.connect()
--> 988                 conn.request(method, request_uri, body, headers)
    989             except socket.timeout:
    990                 conn.close()

//anaconda/lib/python3.4/http/client.py in request(self, method, url, body, headers)
   1086     def request(self, method, url, body=None, headers={}):
   1087         """Send a complete request to the server."""
-> 1088         self._send_request(method, url, body, headers)
   1089 
   1090     def _set_content_length(self, body):

//anaconda/lib/python3.4/http/client.py in _send_request(self, method, url, body, headers)
   1123             # RFC 2616 Section 3.7.1 says that text default has a
   1124             # default charset of iso-8859-1.
-> 1125             body = body.encode('iso-8859-1')
   1126         self.endheaders(body)
   1127 

UnicodeEncodeError: 'latin-1' codec can't encode character '\ufffd' in position 259: ordinal not in range(256)
```

Any suggestions?

Christian

I have so far figured out that the problem is related to Python 3. Running the same code en Python 2, works for all file types.

I ran into this problem too in Python3.

It seems to be related to this: https://github.com/google/google-api-python-client/issues/145

Because of this I had to resort to use the api client directly, example:

```python
from apiclient.http import MediaFileUpload

media = MediaFileUpload('foo.xlsx', mimetype='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', chunksize=-1, resumable=True)
gauth.service.files().update(media_body=media, body={'name':'test', 'convert':True}, fileId=xyz).execute()
```

This were to update an existing file. For uploading a new one you would use insert:

```python
gauth.service.files().insert(media_body=media, body={'name':'test', 'convert':True}
```

The workaround is to make the upload resumable, while chunksize -1 tells it to upload in one pass.


Ah! It seems all that needs to be done is to install the latest api client from github. The latest released package does not contain the fix for it. 

Tests uploading non-txt files added and passing. Closing this down.